@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
 }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.container {
    background-color: #FFF047;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container.dark {
    background-color: #0A0236;
    color: #FFFFFF;
}

.upper-part {
  display: flex;
  margin: 20px;
  width: 100%;
  justify-content: end;
}

.upper-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.middle-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.middle-left-part {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-center-part {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.middle-right-part {
   width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower-part {
  display: flex;
}

button {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #D5C400;
  background-color: #D5C400;
  cursor: pointer;
  font-weight: 400;
}

button:hover {
    filter: brightness(0.5);
}

button.dark {
    border: 1px solid #32218F;
    background-color:#32218F;
    color: #FFFFFF ;
}

label {
    margin: 0 10px;
}

.sound-wrapper {
    margin: 0 45px;
    cursor: pointer;
}

.sound-on-icon {
    width: 32px;
    height: 32px;
}

.sound-on-icon.nonactive {
    display: none;
}

.sound-off-icon {
    width: 32px;
    height: 32px;
    display: none;
}

.sound-off-icon.active {
    display: block;
}

.board-wrapper { 
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.board {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    .topNums {
        color: #000000;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 0;
        border: 2px solid transparent;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 1rem;
            padding: 0.2rem 0.5rem;

            border: 1px solid transparent;
        }
    }
    .topNums.dark {
        color: #FFFFFF;
    }
    .leftNums {
        color: #000000;
        position: absolute;
        transform: translate(-120%);
        display: flex;
        flex-direction: column;
        border: 2px solid transparent;
        > div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0.35rem 0.2rem;
            border: 1px solid transparent;
        }
    }
    .leftNums.dark {
        color: #FFFFFF;
    }
    .grid {
        border: 2px solid black;
        margin-bottom: 2em;
        cursor: pointer;
        .row-div {
            &:nth-child(5n + 0) {
                border-bottom: 2px solid black;
            }
            &:last-child {
                border-bottom: none;
            }
            display: flex;
            .square {
                width: 2rem;
                height: 2rem;
                border: 1px outset black;
                &:hover {
                    filter: brightness(150%);
                }
                &:nth-child(5n + 0) {
                    border-right: 3px solid black;
                }
                &:last-child {
                    border-right: 1px outset black;
                }
            }
            .square.dark {
                border: 1px outset white;
            }
            .unclicked {
                background-color: #FFFABA;
            }
            .filled {
                background-color: #484632;
            }
            .exed {
                background-color: #FFFABA;
                background-image: url(../nonograms/img/cross.png);
                background-position: center;
                background-size: cover;
            }
        }
    }
    .grid.dark {
        border: 2px solid white;
        .row-div {
            &:nth-child(5n + 0) {
                border-bottom: 2px solid black;
            }
            &:last-child {
                border-bottom: none;
            }
            display: flex;
            .square {
                border: 1px outset white;
            }
            .unclicked {
                background-color: #01000A;
            }
            .filled {
                background-color: #E5E4E7;
            }
            .exed {
                background-color: #01000A;
                background-image: url(../nonograms/img/cross.png);
                background-position: center;
                background-size: cover;
            }
        }
    }
}

.modal-end {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.modal-end.active {
    display: block;
}

.modal-end-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    background: #FFF047;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
}

.modal-end-content.dark {
    background: #0A0236;
}

.modal-end-text {
    margin: 15px;
    text-align: center;
}

.modal-end-text.dark {
    color: #FFFFFF;
}

.modal-results {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.modal-results.active {
    display: block;
}

.modal-results-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    background: #FFF047;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
}

.modal-results-content.dark {
    background: #0A0236;
}

.modal-results-heading {
        text-align: center;
    }
    
.modal-results-heading.dark {
        color: #FFFFFF;
    }

.results-chart {
        overflow-y: scroll;
        width: 100%;
        margin-left: 10px;
    }

.modal-levels {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.modal-levels.active {
    display: block;
}


.modal-levels-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    background: #FFF047;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
}

.modal-levels-content.dark {
    background: #0A0236;
}

.modal-fives {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.modal-fives.active {
    display: block;
}

.modal-fives-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    background: #FFF047;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
}

.modal-fives-content.dark {
    background: #0A0236;
}

.modal-tens {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.modal-tens.active {
    display: block;
}

.modal-tens-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    background: #FFF047;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
}

.modal-tens-content.dark {
    background: #0A0236;
}

.modal-fifteens {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.modal-fifteens.active {
    display: block;
}

.modal-fifteens-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    background: #FFF047;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center; 
}

.modal-fifteens-content.dark {
    background: #0A0236;
}

@media screen and (max-width: 949px) {
    .middle-center-part {
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
    }
    .board{
    .leftNums {
        color: #000000;
        position: absolute;
        transform: translate(-120%);
        display: flex;
        flex-direction: column;
        border: 2px solid transparent;
        font-size: 14px;
    > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid transparent;
        padding: 0;
    }
}
    .grid {
        border: 2px solid black;
        margin-bottom: 2em;
        cursor: pointer;
        .row-div {
    .square {
        width: 18px;
        height: 18px;
        border: 1px outset black;
    }
}
}
    }
}

@media screen and (max-width: 850px) {
    
    .middle-part {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .middle-left-part {
        width: fit-content;
    }

    .middle-right-part {
        width: fit-content;
    }
    
}

@media screen and (max-width: 549px) {
    .middle-center-part {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
